doctype html
html(lang='en' ng-app='App' ng-controller='RootCtrl as app')
  head
    title= title
    base(href='/')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description', content= metaDescription)

    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/production.css')
  body
    include partials/_main-menu

    block content

    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/angular.min.js')
    script(src='/js/angular-route.min.js')
    script(src='/js/production.js')