- var menuItems = {'Home': '/', 'Articles':'/articles', 'About': '/about', 'Users': '/users'};

nav.navbar.navbar-default
    .container
        .navbar-header
            button.navbar-toggle.collapsed(type='button' data-target='#navbar' aria-expanded='false' aria-controls='navbar' data-toggle='collapse') Menu
            a.navbar-brand My app
        .collapse.navbar-collapse#navbar
            ul.nav.navbar-nav
                each val, key in menuItems
                    if activeMenuItem === key
                        li.active
                            a(href=val, title=key)= key
                    else
                        li
                            a(href=val, title=key)= key
            ul.nav.navbar-nav.navbar-right
              li.dropdown(ng-show='app.username()')
                a.dropdown-toggle(href='#' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false') {{app.username()}} #[span.caret]
                ul.dropdown-menu
                  li
                    a(href='users/profile') Profile
                  li.divider(role='separator')
                  li
                    a(ng-click='app.logOut()') Logout
              li(ng-hide='app.username()')
                a(href='users/login') Log in